In [4]:
import pandas as pd
import numpy as np

# Loading Data

## 1st dataset: Kenya population density per county per Land area

In [76]:
df = pd.read_csv("https://open.africa/dataset/9b94fe50-9d75-4b92-be00-6354c6e6cc88/resource/da01bf5a-61d7-43e5-9009-7b54e249e984/download/kenya-population-land-area-population-density_by_county.csv")

In [77]:
df.head(15)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,"Distribution of Population, Land Area and Popu...",NaN,NaN,NaN
1,Source: 2019 Kenya Population and Housing Cens...,NaN,NaN,NaN
2,https://www.knbs.or.ke/?wpdmpro=2019-kenya-pop...,NaN,NaN,NaN
3,"Population, Land area, Population density, Cou...",NaN,NaN,NaN
4,NaN,NaN,NaN,NaN
5,name,Population,Land Area (Sq. Km),Population Density (No. per Sq. Km)
6,Kenya,47564296,580876.3,82
7,Mombasa,1208333,219.9,5495
8,Kwale,866820,8267.1,105
9,Kilifi,1453787,12539.7,116
10,Tana River,315943,37950.5,8
11,Lamu,143920,6253.3,23
12,Taita-Taveta,340671,17152,20
13,Garissa,841353,44736,19
14,Wajir,781263,56773.1,14

## Formatting the first data set

In [78]:
#Labelling the columns
df.columns=('County_Name','Pop_Size','Land_Area(Sq.Km)','Pop_density_per_Sqkm')

In [79]:
df.head(15)

,County_Name,Pop_Size,Land_Area(Sq.Km),Pop_density_per_Sqkm
0,"Distribution of Population, Land Area and Popu...",NaN,NaN,NaN
1,Source: 2019 Kenya Population and Housing Cens...,NaN,NaN,NaN
2,https://www.knbs.or.ke/?wpdmpro=2019-kenya-pop...,NaN,NaN,NaN
3,"Population, Land area, Population density, Cou...",NaN,NaN,NaN
4,NaN,NaN,NaN,NaN
5,name,Population,Land Area (Sq. Km),Population Density (No. per Sq. Km)
6,Kenya,47564296,580876.3,82
7,Mombasa,1208333,219.9,5495
8,Kwale,866820,8267.1,105
9,Kilifi,1453787,12539.7,116
10,Tana River,315943,37950.5,8
11,Lamu,143920,6253.3,23
12,Taita-Taveta,340671,17152,20
13,Garissa,841353,44736,19
14,Wajir,781263,56773.1,14

In [82]:
#deleting the first few rows that have unwanted information
df.drop(df.index[:7], inplace=True)

In [83]:
df.head()

   County_Name Pop_Size Land_Area(Sq.Km) Pop_density_per_Sqkm
7      Mombasa  1208333            219.9                 5495
8        Kwale   866820           8267.1                  105
9       Kilifi  1453787          12539.7                  116
10  Tana River   315943          37950.5                    8
11        Lamu   143920           6253.3                   23

In [84]:
df

        County_Name Pop_Size Land_Area(Sq.Km) Pop_density_per_Sqkm
7           Mombasa  1208333            219.9                 5495
8             Kwale   866820           8267.1                  105
9            Kilifi  1453787          12539.7                  116
10       Tana River   315943          37950.5                    8
11             Lamu   143920           6253.3                   23
12     Taita-Taveta   340671            17152                   20
13          Garissa   841353            44736                   19
14            Wajir   781263          56773.1                   14
15          Mandera   867457          25939.8                   33
16         Marsabit   459785          70944.1                    6
17           Isiolo   268002          25350.6                   11
18             Meru  1545714           7006.3                  221
19    Tharaka-Nithi   393177           2564.4                  153
20             Embu   608599           2820.7                  216
21            Kitui  1136187          30429.5                   37
22         Machakos  1421932           6042.7                  235
23          Makueni   987653           8169.8                  121
24        Nyandarua   638289           3285.7                  194
25            Nyeri   759164             3325                  228
26        Kirinyaga   610411           1478.3                  413
27         Murang'a  1056640           2524.2                  419
28           Kiambu  2417735           2538.6                  952
29          Turkana   926976          68232.9                   14
30       West Pokot   621241           9123.2                   68
31          Samburu   310327          21065.1                   15
32      Trans Nzoia   990341           2495.2                  397
33      Uasin Gishu  1163186           3392.2                  343
34  Elgeyo-Marakwet   454480             3032                  150
35            Nandi   885711           2855.8                  310
36          Baringo   666763          10976.4                   61
37         Laikipia   518560           9532.2                   54
38           Nakuru  2162202           7462.4                  290
39            Narok  1157873          17950.3                   65
40          Kajiado  1117840          21871.1                   51
41          Kericho   901777           2436.1                  370
42            Bomet   875689           2530.9                  346
43         Kakamega  1867579             3020                  618
44           Vihiga   590013            563.8                 1047
45          Bungoma  1670570           3023.9                  552
46            Busia   893681           1696.3                  527
47            Siaya   993183           2529.8                  393
48           Kisumu  1155574           2085.4                  554
49         Homa Bay  1131950           3152.5                  359
50           Migori  1116436           2613.5                  427
51            Kisii  1266860             1323                  958
52          Nyamira   605576            897.3                  675
53          Nairobi  4397073            703.9                 6247

In [85]:
#resetting the index
df.reset_index(drop= True, inplace=True)

In [87]:
df

        County_Name Pop_Size Land_Area(Sq.Km) Pop_density_per_Sqkm
0           Mombasa  1208333            219.9                 5495
1             Kwale   866820           8267.1                  105
2            Kilifi  1453787          12539.7                  116
3        Tana River   315943          37950.5                    8
4              Lamu   143920           6253.3                   23
5      Taita-Taveta   340671            17152                   20
6           Garissa   841353            44736                   19
7             Wajir   781263          56773.1                   14
8           Mandera   867457          25939.8                   33
9          Marsabit   459785          70944.1                    6
10           Isiolo   268002          25350.6                   11
11             Meru  1545714           7006.3                  221
12    Tharaka-Nithi   393177           2564.4                  153
13             Embu   608599           2820.7                  216
14            Kitui  1136187          30429.5                   37
15         Machakos  1421932           6042.7                  235
16          Makueni   987653           8169.8                  121
17        Nyandarua   638289           3285.7                  194
18            Nyeri   759164             3325                  228
19        Kirinyaga   610411           1478.3                  413
20         Murang'a  1056640           2524.2                  419
21           Kiambu  2417735           2538.6                  952
22          Turkana   926976          68232.9                   14
23       West Pokot   621241           9123.2                   68
24          Samburu   310327          21065.1                   15
25      Trans Nzoia   990341           2495.2                  397
26      Uasin Gishu  1163186           3392.2                  343
27  Elgeyo-Marakwet   454480             3032                  150
28            Nandi   885711           2855.8                  310
29          Baringo   666763          10976.4                   61
30         Laikipia   518560           9532.2                   54
31           Nakuru  2162202           7462.4                  290
32            Narok  1157873          17950.3                   65
33          Kajiado  1117840          21871.1                   51
34          Kericho   901777           2436.1                  370
35            Bomet   875689           2530.9                  346
36         Kakamega  1867579             3020                  618
37           Vihiga   590013            563.8                 1047
38          Bungoma  1670570           3023.9                  552
39            Busia   893681           1696.3                  527
40            Siaya   993183           2529.8                  393
41           Kisumu  1155574           2085.4                  554
42         Homa Bay  1131950           3152.5                  359
43           Migori  1116436           2613.5                  427
44            Kisii  1266860             1323                  958
45          Nyamira   605576            897.3                  675
46          Nairobi  4397073            703.9                 6247

## Loading the second dataset: